html,body{
    width: 100%;
    height: 100%;
}
.layui-layout-body{
    min-width: 1200px;
}
.layui-body{
    padding: 20px 40px;
}
.layui-layout-admin .layui-logo{
    width:auto;
    color: #FFF;
    font-size: 22px;
    padding-left: 22px;
    text-align:left;
}

/*时间图标*/
.layui-icon-date{
    color: #1E9FFF;
}